{% extends "base.html" %}
{% block ex_css %}
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/static/util/Bootstrap-Image-Gallery-3.1.1/css/bootstrap-image-gallery.min.css">-->
    <link rel="stylesheet" href="/static/util/bootstrap.min.css">
    <link rel="stylesheet" href="/static/util/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/static/util/Bootstrap-Image-Gallery-3.1.1/css/bootstrap-image-gallery.min.css">
{% endblock %}
{% block content %}
    <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <p class="dis"></p>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="links">
        {% for image in images %}
            <a href="{{ MEDIA_URL }}{{ image.picture }}" title="{{ image.title }}" dis="OMODJAJKDLSJLJDJSKDJSLJDL"  data-gallery>
                <img src="{{ MEDIA_URL }}{{ image.picture }}" alt="{{ image.title }}" class="image_tile"/>
            </a>
        {% empty %}
            <h1>No Images</h1>
        {% endfor %}
    </div>
{% endblock %}
{% block ex_js %}
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="/static/util/Bootstrap-Image-Gallery-3.1.1/js/bootstrap-image-gallery.min.js"></script>-->
    <script src="/static/util/jquery.min.js"></script>
    <script src="/static/util/jquery.blueimp-gallery.js"></script>
    <script src="/static/util/Bootstrap-Image-Gallery-3.1.1/js/bootstrap-image-gallery.min.js"></script>
{% endblock %}

